{
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "auto",
  "experimentalTernaries": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 4,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "printWidth": 120
}